<h4>{{detail | json}}</h4>
<div style="margin-bottom:20px" class="alert alert-info">
    RegisterUser: {{registerUser | json}}
    <span class="glyphicon btn" ng-class="{'glyphicon-eye-open': isOpen, 'glyphicon-eye-close': !isOpen}" ng-click="isOpen = !isOpen" ng-init='isOpen=false' data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo"></span>
</div>

<form class="form-inline" role="form" ng-submit="submit(registerUser)">
    <div class="form-group col-md-4" style="padding-left:0">
        <div class="input-group">
            <div class="input-group-addon">Name</div>
            <input class="form-control" type="text" ng-model="registerUser.name" placeholder="Enter Name">
        </div>
    </div>
    <div class="form-group col-md-4">
        <div class="input-group">
            <div class="input-group-addon">Age</div>
            <input class="form-control" type="number" ng-model="registerUser.age" placeholder="Enter Age">
        </div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<hr>
<div id="collapseTwo" class="panel-collapse collapse">
    <pre>
        <code ng-non-bindable> 
        <b>JS:</b> 
            $scope.user = {
                name: "name",
                age = Math.round(Math.random()*100)
            }

        <b>HTML:</b>
            RegisterUser: {{user | json}}
            Name: &lt;input type="text" ng-model="user.name" /&gt;
            Age: &lt;input type="text" ng-model="user.age" /&gt;
        </code>
    </pre>
</div>

<div class="user-table">
    <!-- table -->
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>index</th>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users" ng-click="showUser(user)">
                <td><a href="#/users/{{$index}}">{{$index}}</a>
                </td>
                <td>{{user.name}}</td>
                <td>{{user.age}}</td>
            </tr>
        </tbody>
    </table>
    <div ng-show="users.length > 0">
        <button class="btn btn-primary" type="button">
            Users
            <span class="badge">{{users.length}}</span>
        </button>
        <span class="glyphicon btn" ng-class="{'glyphicon-eye-open': isOpen2, 'glyphicon-eye-close': !isOpen2}" ng-click="isOpen2 = !isOpen2" ng-init='isOpen2=false' data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne"></span>
    </div>

    <hr>
    <div>
        <div id="collapseOne" class="panel-collapse collapse">
            <pre>
                <code><span ng-non-bindable> 
                <b>JS:</b> 
                    $scope.submit = function(user){
                        $scope.users.push(user);
                        $scope.registerUser = new User();
                    };

                <b>HTML:</b>
                    &lt;tr ng-repeat="user in users"&gt;
                        &lt;td&gt;{{user.name}}&lt;/td&gt;
                        &lt;td&gt;{{user.age}}&lt;/td&gt;
                    &lt;/tr&gt;</span>
                <br/>
                <span style="color:red">TODO: remove a user</span>
                <button class="btn btn-danger btn-xs" ng-click="remove()">Remove</button> index: <input type="text" style="width:50px;">
                </code>
            </pre>
        </div>
    </div>
</div>
